<div id="membersTable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input id="search" type="text"
               class="primaryInput"
               placeholder="Buscar..."
               ng-model="membersTable.search"
               ng-change="membersTable.searchEvent()"/>
      </div>
    </div>
    <div class="row">
      <div ng-if="membersTable.members.length === 0" class="center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>
          {{::membersTable.emptyResults}}
          <button type="button" class="addButton" aria-label="Left Align">
            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
          <table ng-table="membersTable.tableParams" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <tr ng-repeat="member in $data">
              <td title="'Nombre Completo'" sortable="'fullName'">
                <a href="">{{member.fullName}}</a>
              </td>
              <td title="'Correo'" sortable="'email'">
                {{member.email}}
              </td>
              <td title="'Telefono'" sortable="'phone'">
                {{member.phone}}
              </td>
              <td title="'Genero'" sortable="'gender'">
                {{member.gender}}
              </td>
              <td title="'MonthPaid'" sortable="'isMonthPaid'">
                <input type="checkbox" ng-model="member.isMonthPaid">
              </td>
              <td title="'Eliminar'">
                <a> Eliminar </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
