$color1: #00293D !default;
$color2: #00475C !default;
$color3: #FF5515 !default;
$color4: #f2f2f2 !default;
$color5: #FF7D00 !default;

$white: #FFFFFF !default;
$red: #D33434 !default;
$black: #000000 !default;
$darkGrey: #555555 !default;
$lightGrey: #808080 !default;
