.navbar-default {
  background-color: $color1;
  border-color: $color3;
  border-width: 3px;
  border-top: 0;
  border-left: 0;
  border-right: 0;

  a {
    color: $white !important;
  }

  .navbar-toggle {
    border-color: $white;
  }

  .navbar-toggle .icon-bar {
    background-color: $white;
  }

  .open > .dropdown-toggle {
    background-color: $color3 !important;
  }

  .dropdown-menu {
    background-color: $color1 !important;
  }

  .dropdown-menu > li {
    background-color: $color1 !important;
  }

  .dropdown-menu > a:hover {
    background-color: $color3 !important;
  }
}

.navbar {
  min-height: 60px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.navbar-fixed-top {
  top: 0;
  right: inherit;
  left: inherit;
}

.navbar-header > h1 {
  margin-top: 10px;
  color: white;
}

.nav.navbar-nav {
  .active > a {
    background-color: $color3;
  }
}
