<div id="programsTable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <input id="search" type="text"
               class="primaryInput"
               placeholder="Buscar..."
               ng-model="summary.search"
               ng-change="summary.searchEvent()"/>
      </div>
    </div>
    <div class="row">
      <div ng-if="summary.members.length === 0" class="center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>
          {{::summary.emptyResults}}
          <button type="button" class="addButton" aria-label="Left Align">
            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
          <table ng-table="programsTable.tableParams" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <tr ng-repeat="program in $data">
              <td title="'Id'" sortable="'Id'">
                <a href="">{{program.id}}</a>
              </td>
              <td title="'Usuario Id'" sortable="'userId'">
                {{program.userId}}
              </td>
              <td title="'Programas'" sortable="'havePrograms'">
                {{program.routinesIds}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
